

$color_background:#ffffff;
$color_background2:#ebeff2;
$color_gray:#292B2C;
$color_lightGray:#e3d7ce;
$color_primary:#0b3659;
$color_darkBlue:#0e1728;
$color_white:#ffffff;
$color_pink:#ff8cc5;
$color_turquoise:#40a9d5;